RUN_ENVIRONMENT=development
NAME_APP=worker-python
PATH_TO_LOGS=/absolute/path/to/logs
PATH_UTILTIES=/absolute/path/to/utilities
OPENAI_API_KEY=replace-me
NAME_AI_ENTITY_LOCATION_SCORER=NewsNexusClassifierLocationScorer01
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=newsnexus_dev
PG_USER=postgres
PG_PASSWORD=
PG_SCHEMA=public
