NODE_ENV=development
NAME_APP=worker-node
PATH_TO_LOGS=/absolute/path/to/logs
PATH_AND_FILENAME_FOR_QUERY_SPREADSHEET_AUTOMATED=/absolute/path/to/query.xlsx
PATH_TO_SEMANTIC_SCORER_DIR=/absolute/path/to/semantic_scorer
PATH_TO_STATE_ASSIGNER_FILES=/absolute/path/to/state_assigner
PATH_UTILTIES=/absolute/path/to/utilities
KEY_OPEN_AI=replace-me
PORT=3002
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=newsnexus_dev
PG_USER=postgres
PG_PASSWORD=
PG_SCHEMA=public
