NODE_ENV=development
NAME_APP=NewsNexus12API
PATH_TO_LOGS=/absolute/path/to/logs
PORT=3000
LOAD_LEGACY_ROUTERS=true
PATH_TO_UTILITIES_ANALYSIS_SPREADSHEETS=/absolute/path/to/analysis_spreadsheets
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=newsnexus_dev
PG_USER=postgres
PG_PASSWORD=
PG_SCHEMA=public
